/*
-   Portfolio ""
-   https://github.com/MayankDevil/
-   Designed & Developed by Mayank
-   CSS : ./css/style.css
*/
a{
    text-decoration: none;
}
/*
    -------------------
    | Bootstrap Icons |
    -------------------
*/
@import "../css/bootstrap-icons.min.css";

.bi
{
    font-size: 1rem;
}
.btn:hover
{
    box-shadow: 1px 1px 5px var(--bs-gray);
}
/*
    nav css ------------------------------
*/
#navbar
{
    top:0;
    left:0;
    z-index: 10;
}
#brand
{
    padding: 0.5rem 1rem;
}
.nav-link
{
    color:var(--bs-light);
    border-bottom: 1px solid transparent;
}
.nav-item
{
    padding: 0.5rem;
}
.nav-item:hover
{
    background: var(--bs-dark);
}
.nav-item:hover .nav-link
{
    font-weight:bold;
    border-bottom: 1px solid var(--bs-blue);
}
/*
    header css ---------------------------
*/
#header .display-5::after
{
    font-weight:normal;
    content: 'Mayank';
    animation: write linear 6 1s alternate;
}
@keyframes write
{
    5%{
        content:'Mayank';
    }
    15%{
        content:'Mayan';
    }
    35%{
        content:'Maya';
    }
    50%{
        content:'May';
    }
    75%{
        content:'Ma';
    }
    100%{
        content:'M';
    }    
}

#selfy
{
    box-shadow: 5 5px 10px var(--bs-gray);
}
.popup
{
    transform:scale(0.9);
    animation: popup linear infinite 2s alternate;
}
@keyframes popup
{
    form{
        transform: scale(0.9);
    }to{
        transform: scale(1);
    }
}
/*
    archievement css ---------------------
*/
#achievement
{
    background: linear-gradient(60deg, );
}
#achievement .h5
{
    writing-mode: sideways-lr;
    letter-spacing: 2px;
}
.shade
{
    background: var(--bs-dark);
    clip-path: polygon(91% 44%, 92% 27%, 100% 0, 100% 100%, 0 100%, 19% 94%, 34% 90%, 44% 76%, 64% 76%, 81% 68%);
}
#achievement .bi
{
    font-size: 2rem;
}
#btn-next
{
    width: 50px;
    background: linear-gradient(to right,transparent,var(--bs-secondary-bg-subtle));
}
.bi-chevron-compact-right
{
    font-size: 3rem;
    color:var(--bs-primary) !important;
}
.bi-arrow-right
{
    font-size: 4rem;
    color:var(--bs-secondary)
}
/*
    roadmap css --------------------------
*/
.road-icon
{
    padding:1rem;
    font-size: 2rem;
}
#roadmap .map
{
    margin-top: 3rem;
    border-top: 2px dotted var(--bs-gray) !important;
}
#roadmap .bi-check-circle
{
    display: inline-block;
    margin-top:-2rem;
    font-size: 2em;
    color:var(--bs-blue);
    background: var(--bs-white);
}
#roadmap .map div
{
    position: relative;
    margin-top: 3rem;
    background: var(--bs-light);
}
#roadmap .map div::before
{
    position: absolute;
    top: -1rem;
    left:45%;
    transform: rotate(45deg);
    display: inline-block;
    content:'';
    padding: 1rem;
    background: var(--bs-light);
}
.bold
{
    font-weight: bolder;
}
/*
    service css --------------------------
*/
.service-icon
{
    font-size: 5em;
    color:var(--bs-blue);
    opacity:0.7;
}
.head-icon
{
    margin-right: 1rem;
    font-size: 2rem;
    color:var(--bs-blue);
    opacity: 0.7;
}
.serve:hover
{

    transition:all 0.5s linear;
    transform: translateY(-1rem);
    box-shadow: 0 0 30px var(--bs-gray);
}
.bi-check-circle
{
    font-size: 1.2rem;
    color:var(--bs-form-valid-border-color);
}
.bi-x-circle
{
    font-size: 1.2rem;
    color:var(--bs-form-invalid-color);
}
/*
    testimonial css ----------------------
*/
.client-image
{
    clip-path: circle(50%);
}
.text-orange
{
    color:var(--bs-orange);
}
.qoute
{
    font-size: 1rem;
    color:var(--bs-info);
}
/*
    contact css --------------------------
*/
/*
    footer css ---------------------------
*/
#developer
{
    font-size:large;
    font-weight:bold;
}
/*
    =========================================
    } Responsive meadia query
    =========================================
*/

@media screen and (max-width:1400px)
{}
@media screen and (max-width:1200px)
{}
@media screen and (max-width:992px)
{
    .nav-item
    {

    }
    .nav-item:hover .nav-link
    {
        padding-left: 1rem;
        border-bottom: 0px solid transparent;
        border-left: 1px solid var(--bs-blue);
    }
    #roadmap .row
    {
        display: grid;
        padding: 1rem 0;
    }
    #roadmap .map
    {
        text-align: left !important;
        margin-top:0;
        border: none !important;
        border-left: 2px dotted var(--bs-gray) !important;
    }
    #roadmap .bi-check-circle
    {
        display: inline-block;
        margin-top: 0;
        margin-left:-1.7rem;
        font-size: 2em;
        color:var(--bs-blue);
        background: var(--bs-white);   
    }
    #roadmap .map div
    {
        margin-top: 1rem;
        margin-left: 1.5rem;
    }
    #roadmap .map div::before
    {
        position: absolute;
        top: 40%;
        left:-1rem;
        transform: rotate(45deg);
        display: inline-block;
        content:'';
        padding: 1rem;
        background: var(--bs-light);
    }
}
@media screen and (max-width:768px)
{
    #achievement .h5
    {
        writing-mode:horizontal-tb;
        letter-spacing: 2px;
    }
}
@media screen and (max-width:576px)
{}
/*
    the end ==================================
*/
